.dark-content {
    .card-body {
        color: $gray-400;
    }

    .text-muted {
        color: $gray-500 !important;
    }

    .btn-primary {
        background-image: linear-gradient(to bottom left, #ee690f, #ee690f, #ee690f) !important;
    }

    .btn-secondary {
        background-image: linear-gradient(to bottom left, #3a4c80, #2b3852, #344675) !important;
    }

    .btn-success {
        background-image: linear-gradient(to bottom left, #1f9d6f, #1f9d6f, #1f9d6f) !important;
    }

    .btn-success.btn-simple {
        color: #00dfb2;
        border-color: #00dfb2;
        background-image: linear-gradient(to bottom left, #128464, #004c50, #128464) !important;
    }

    .btn-warning.btn-simple {
        color: #fe8064;
        border-color: #fe8064;
        background-image: linear-gradient(to bottom left, #a44833, #6b3226, #a44833) !important;
    }

    .btn-danger.btn-simple {
        color: #ff345a;
        border-color: #ff345a;
        background-image: linear-gradient(to bottom left, #8b1027, rgba(75, 31, 31, 0.63), #8b1027) !important;
    }

    form label {
        color: $gray-400;
    }

    .form-control {
        color: $gray-400 !important;
        border-color: #495268 !important;
    }

    .comp-card, .pg-card{
        border: 1px solid #495268 !important;
    }

    .modal-content {
        background: $card-black-background;

        h4,
        h5 {
            color: $white !important;
        }

        label {
            color: $gray-400;
        }
    }

    .dropdown-menu {
        background: $card-black-background;

        .dropdown-item {
            color: $white !important;
        }

        .dropdown-divider {
            border-top: 1px solid #50628f;
        }
    }

    .card-playground {
        border: 1px solid #50628f !important;
    }

    nav.bg-dark {
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);

        button {
            color: $white !important;
        }
    }

    #robotCard {
        border: 1px solid #5d607c;
    }

    hr {
        border-top: 1px solid #595c759c;
    }

    .bg-primary,
    .sidebar,
    .btn-info {
        background: linear-gradient(0deg, #ee690f 0%, #ee690f 100%);
        background-color: #ee690f !important;
    }

    p {
        color: rgba(255, 255, 255, 0.9);
    }

    li {
        color: rgba(255, 255, 255, 0.7);
    }

    .red-text {
        color: #ff345a;
    }

    .green-text {
        color: #11ec11;
    }

    .yellow-text {
        color: yellow;
    }

    .settings {
        background: linear-gradient($default, $black);
    }

    .list-group-item {
        background-color: #fff0;
        border: 0.0625rem solid #343b4d;
    }

    .btn.btn-link {
        color: #e8e8e8 !important;
    }

    .btn.btn-link:hover {
        color: #8b95e3 !important;
        transform: translateY(-1px) !important;
    }

    .alert-warning {
        background-color: #ffa995eb;
    }
}